Welcome {{ nick }} to {{ channel }}, this room is open to everyone. No matter sexual orientation, gender, or identity. As long as you believe women (Trans and otherwise..] are superior. Dommes, please say !Domme in the room for your voice. Submissives, be respectful and ask permission to PM, this is a public play area. If you have any concerns, please PM the operators or Miss_Badwolf
